.group {
    margin: 0 auto;
}

.timePicker > div > input {
    padding: 6.5px 12px;
}

.timePicker > div,
.timePicker {
    border-radius: 8px;
}

.timePicker {
    background-color: #f2f3f5;
}

.timePickerBlock,
.datePickerBlock {
    display: flex;
    gap: 0.66em;
    align-items: center;
    max-width: 500px;
}

.timePickerFormItem {
    margin-left: 2.5em;
}

@media (max-width: 768px) {
    .timePickerFormItem {
        margin-left: 0;
    }

    .datePickerBlock {
        display: inline;
    }

    .datePickerBlock,
    .timePickerBlock {
        max-width: fit-content;
    }
}
